# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/*.log

# Generated data
data/processed/*
data/rejected/*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
