# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Pytest
.pytest_cache/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated ETL data
data/incoming/
data/processed/
data/rejected/

# Temporary files
*.tmp
*.temp